.tech-container {
    /* background-color: antiquewhite; */
    position: relative;
    width: 100%;
}
.tech-container h1 {
    text-align: center;
    margin: 20px;
    color: #ffffff;
}
.tech-icons {
    background-color: rgba(26, 25, 25, 0.743);
    position: relative;
}
.tech {
display: flex;
justify-content: space-evenly;

}
.tech-tools-icons {
    position: relative;
    background-color: rgb(26, 25, 25, 0.743);
}
.tools {
    display: flex;
    justify-content: space-evenly;
}
i {
    font-size: 70px;
    background-color: #ffffff;
}
/* li {
    cursor: pointer;
} */