.tech-container {
    position: relative;
    width: 100%;
}
.tech-container h1 {
    text-align: center;
    margin: 40px;
    color: #ffffff;
}
.tech-icons {
    background-color: rgba(26, 25, 25, 0.309);
    position: relative;
}
.tech {
display: flex;
justify-content: space-evenly;
}
.tech-tools-icons {
    position: relative;
    background-color: rgba(26, 25, 25, 0.309);
}
.tools {
    display: flex;
    justify-content: space-evenly;
}
.tech .bg-white {
    background-color: #ffffff;
}


@media screen and (max-width: 800px) {
    .tech-container {
        margin: auto;
        max-width: 90%;
    }
     .tech-icons img {
         max-width: 90%;
     }
     .tech {
         display: flex;
         flex-wrap: wrap;
     }
     .tools {
         display: flex;
         flex-wrap: wrap;
     }

}